<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <% if (alertMessage.length > 0) { %>
      <div class="alert"><%= alertMessage %></div>
    <% } %>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
=======
  <head>
    <meta charset="UTF-8" />
    <title>Admin Login</title>
    <!-- Include CSS file -->
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="login-wrapper">
      <h1>Admin Login SignMate</h1>
      <% if (typeof alertMessage !== 'undefined') { %>
      <div class="alert"><%= alertMessage %></div>
      <% } %>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
>>>>>>> 82ed5c31b7ae5e06e734d8fd637b1c65d3db1ea4
</html>
